body {
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/beer-background-royalty-free-image-1608331890.);
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  color: #222;
}

#gameCanvas{
  height:500px;
  width:800px;
  border: 1px solid black;
  position:absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%,-50%);
}

.material-icons {
position: absolute;
top: 15px;
right: 15px;
transition: .3s;
}

#muteIcon:hover {
cursor: pointer;
color: grey;
}

#unmuteIcon:hover {
cursor: pointer;
color: grey;
}

.material-icons.hidden {
visibility: hidden;
}

#start {
  position: absolute;
  top: 50vh;
  font-size: 50px;
  left: 50%;
  right: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(255, 171, 61);
  outline: none;
  border: none;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: background-color .3s;
}

#start:hover {
color: white;
background-color: rgb(248, 141, 0);
box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.2);
cursor: pointer;

}

#dashboard {
  display: flex;
  width: 250px;
  margin-top: 30vh;
  margin-left: 5vh;
}
#pint {
  position: absolute;
  width: 250px;
  z-index: 1;
  
}

progress {
  -webkit-appearance: none;
  position: relative;
  margin-top: 34px;
  width: 206px;
  height: 144px;
  margin-left: -23px;
  border-radius: 7px; 
  transform: rotate(-90deg);

}
progress::-webkit-progress-bar {
  background-color: rgba(124, 214, 250, 0.2);
  border-radius: 3px;
}
progress::-webkit-progress-value {
  background-color: orange;
  border-radius: 7px;
  box-shadow: inset -18px 0px 5px 3px rgba(255, 255, 255, 1);
}


progress::-moz-progress-bar {
  background-color: orange;
  border-radius: 7px;
  box-shadow: inset -18px 0px 5px 3px rgba(255, 255, 255, 1);

}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.box {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#victoryDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(248, 141, 0);
  opacity: 0%;
  pointer-events: none;
  z-index: 1;
  padding: 20px;
  transition: .5s;
  transform: translateY(-20px);

}

#victoryDiv.visible {
  opacity: 100%;
  pointer-events: all;
  transform: translateY(0px);
}

#defeatDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(235, 69, 18);
  opacity: 0%;
  pointer-events: none;
  z-index: 1;
  padding: 20px;
  transition: .5s;
  transform: translateY(-20px);
}

#defeatDiv.visible {
  opacity: 100%;
  pointer-events: all;
}

#endButton {
  background-color: rgb(248, 141, 0);
  padding: 10px;
  border: 1px solid white;
}


#play {
  text-decoration: none;
  color: #222;
  font-size: 15px;
  transition: .3s;
  padding: 20px;
  background-color: rgb(255, 157, 28);
  

}

#play:hover {
  cursor: pointer;
  background-color: rgb(245, 98, 0);
  color: white;

}