body {
    margin: 0;
    padding: 0;
    background: #222;
    font-family: 'Open Sans';
    background: url(image/back2.jpg);
    background-size: cover;
    }
    
    h1{
        font-size: 80px;
        font-weight: 200;
    }
    
    
    .container {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #button {
        display: flex;
    }
    
    span {
        font-size: 20px;
    }
    
    img {
        width: 150px;
        position: relative;
    }
    
    #presentation {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
    }
    
    #play {
        background: url(image/capsule.png);
        background-size: 100%;
        width: 100px;
        height: 100px;
        outline: none;
        border: none;
        transition: .3s;
    }
    
    .presentation {
        font-weight: bolder;
    }
    
    #input {
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }
    
    input {
        text-align: center;
    }
    
    #rules {
        background: url(image/beer3.png);
        background-size: 100%;  
        width: 200px;
        height: 70px;
        outline: none;
        border: none;
        transition: .3s;
    }
    
    #rules:hover {
        cursor: pointer;
        transform: scale(1.1);
    
    }
    
    #play a {
        font-size: 25px;
        text-decoration: none;
        color: black;
        transition: .3s;
    }
    
    #play:hover{
        transform: scale(1.1);
    }
    
    #rulesDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        height: 360px;
        padding: 20px;
        background-color: black;
        color: white;
        opacity: 0%;
        pointer-events: none;
        transition: .5s;
    }
    
    #arrow {
        -webkit-filter: invert(100%); 
        filter: invert(100%);
    }
     
    
    #rulesDiv.visible {
        opacity: 100%;
        z-index: 1;
        pointer-events: all;
        transform:translateY(20px);
    }
    
    #rulesTitle {
        padding-bottom: 25px;
        font-size: 50px;
    }
    
    #closeRules {
        position: absolute;
        top: 0;
        right: 5px;
    }
    
    #closeRules:hover {
        color:thistle;
        cursor: pointer;
    }
    